#prooftable h1 {
    font-family: sans-serif;
    border-bottom: 1px solid #ddd;
}
#prooftable h1 .sequent {
    font-family: 'Droid Serif';
    font-weight: normal;
    font-size: 20px;
}

#prooftable h2 {
    font-family: sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

table.hypotheses td {
    vertical-align: top;
}

table.hypotheses tbody tr td:first-child {
    text-align: right;
}

table.boxproof td {
    white-space: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.line {
    width: 20px;
    padding-right: 30px;
}

td.rule {
    padding-lefT: 20px;
}

td.box {
    width: 10px;
}

td.box.active {
    border-left: 1px solid #333;
}

td.open {
    border-top: 1px solid #333;
}

td.close {
    border-bottom: 1px solid #333;
}

table.boxproof {
    border-collapse:collapse;
}

.op {

}

.pred {
    font-style: italic;
}

.var {
    font-style: italic;
}

.metakind {
    font-weight: bold;
    font-family: sans-serif;
}

.exotic {
    background-color: #f9f;
}

.hole {
    background-color: #fdd;
}

.termIntro {
    color: #666;
    font-style: italic;
}

ul#tabButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4679bd;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #7EA1D1;
}

#tabButtons li {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: -2px;
    color: #fff;
}

#tabButtons li.active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-style: solid;
    border-color: #7EA1D1;
    border-width: 2px 2px 0px 2px;
}

#tabButtons li.inactive {
    background-color: #3f6daa;
    cursor: pointer;
    padding-bottom: 8px;
}

#tabButtons li a {
    text-decoration: none;
}

#tabButtons li.inactive:hover {
    background-color: #5886C4;
}

#tabButtons li a i {
    margin-right: 5px;
}

.open-indicator {
    font-family: sans-serif;
    font-weight: bold;
    color: red;
}

.closed-indicator {
    font-family: sans-serif;
    font-weight: bold;
    color: green;
}

#tabPanels div.tabContent {
    overflow: auto;
    margin:0;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
}

div.sequent {
    float: right;
}

p.open-indicator , p.closed-indicator {
    clear:both;
}

.hide {
    display: none;
}

.context-separator {
    cursor: pointer;
    color: #4679bd;
    border-bottom: 1px solid #7EA1D1;
}

.context-separator .el {
    font-size: 75%;
    float: right;
}

.collapse { height: 0; overflow: hidden; };