html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    font-size: 14px;
}

#control {
    margin:0px;
    background-color: #4679bd;
    border-bottom: 4px solid #7EA1D1;
}

#control ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#control li {
    display: inline;
}


#logo {
    height: 45px;
    display: inline;
    height: 100%;
    vertical-align: middle;
    font-size: 18px;
    margin: 0px 20px;
    color: #eee;
    font-weight: bold;
}

#elf {
    width:auto;
    height:40px;
    float:right;
    margin-right: 10px;
}

#control li .el {
    margin-right: 5px;
}

#control button {
    border: none;
    height: 100%;
    cursor: pointer;
    margin: 0px 5px;
    padding: 0px 10px;
    background-color: #3f6daa;
    color: #fff;
}

#control button:hover {
    background-color: #5886C4;
}

#main {
    background-color: white;
}

#vsplitter, #hsplitter {
    background-color: #aaa;
}

#output {
    padding-left: 8px;
    overflow: auto;
    color: #333;
    background-color: #ffd;
}

#editor, #output {
    font-family: Source Code Pro, monospace;
    font-size: 12pt;
}

#prooftable {
    overflow: auto;
}